/***************************************************************************/
/* GENERAL STYLES */


body, html {
	height: 100%;
}

img {
	max-width: 100%;
}



/***************************************************************************/
/* TYPOGRAPHY */

h5 {
	text-transform: uppercase;
}


/***************************************************************************/
/* SPACING STYLES */

.margin-bottom-20 {
	margin-bottom: 20px;
}

/***************************************************************************/
/* SIDEBAR STYLES */
.sidebar {
	position: fixed;
	right: 0;
	top: 50px;
	bottom: 0;
	/*background-color: #fefefe;*/
	background-color: rgba(255,255,255,.8);
	width: 400px;
	padding: 20px;
	overflow: scroll;
}

#sidebar-tabs-content {
	margin-top: 10px;
}

#sidebar-tabs-content h6 {
	color: #666;
}


/***************************************************************************/
/* ACTIVITY FEED */

.activity .list-group-item.active, .activity .list-group-item:hover  { 
	/*
	z-index: 2;
	color: #ffffff;
	background-color: #428bca;
	border-color: #428bca;*/
	background-color: #f5f5f5;
}

.activity .list-group-item {
	padding: 15px 30px 10px 15px;
}

.panel.activity .panel-heading {
	margin: -15px -15px 0px;
}

.panel.activity .list-group {
	margin: 0px -15px -15px;
}

.activity .list-group-item:first-child {
	border-top: none;
}



.activity h6 {
	color: #666;
}



/***************************************************************************/
/* MAP STYLES */
.map {
	position: absolute;
}

.map-idea-profile-width {
	width:70px;
}

#info .bold p {
	padding-left: 15px;
	font-weight: bold;
}

.nav-tabs {
	font-size: 20px;
}

.nav-tabs > li > a {
	color: #555555;
}




/***************************************************************************/
/* TEMP STYLES */

.show-grid [class^="col-"] {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #eee;
	border: 1px solid #ddd;
	background-color: rgba(86,61,124,.15);
	border: 1px solid rgba(86,61,124,.2);
}

